<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.mcgill.hci.crs_application.feature">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>

        <service
            android:name=".NotificationListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".Manage_Applications"
            android:label="Notifications Enabled for "
            android:parentActivityName=".Overwrite_Session" />
        <activity
            android:name=".Start_Session"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Overwrite_Session"
            android:label="Session and Settings"
            android:parentActivityName=".Start_Session" />
        <activity
            android:name=".Manage_Location"
            android:label="Manage Location"
            android:parentActivityName=".Overwrite_Session" />
        <activity android:name=".WifiSwitchOrAdd"
            android:label="WiFi Location Settings"></activity>

    </application>

</manifest>